.trackingArea {
    background-color: #DDD;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000;
    color: #333;
    margin-bottom: 15px;
}

nav a {
    color:#FFF;
}

/*event-selction specific*/

#event-selection {
    height: 50px;
    padding-top: 10px;
}

#event-selection > h3 {
    display: inline-block;
    margin: 0 10px 0 25%;
    width: 300px;
}

#event-selection > h3 > select {
    font-size: 16px;
    width:300px;
}

#saveButton {
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

/*monster-tracker specific*/
#monster-tracker {
    float:left;
    width: 58%;
    height: 490px;
    margin-bottom: 15px;
}


/*time-tracker specific*/
#time-tracker {
    padding: 10px 5px 10px 40px;
}

.timeInput {
    display: inline-block;
    width: 19%;
    min-width: 190px;

}

.timeButton, .InputBox, .displayBox, .inputHeader {
    display: inline-block;
    height: 31px;
    vertical-align: middle;

}

.timeButton {
    font-size: 25px;
    width: 30px;
}

.inputBox {
    font-size: 16px;
    height: 20px;
    margin-left: 10px;
    width:40px;
}

.displayBox {
    height:20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 5px;

}

.inputHeader {
    font-style: italic;
    text-align: center;
}

.inputHeader > h4 {
    font-size: 14px;
}

.inputHeader > h5 {
    font-size: 12px;
}



/*dm-table-tracker specific*/
#dm-table-tracker {
    float: right;
    width:405px;
}


#itemSave, #classAreas{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

#classAreas {
    margin-right: 10px;
}

#itemSave {
    float: right;
    text-align:center;
    min-width: 163px;
    width: 38%;
}

.classArea, #itemSave {
    padding: 5px 0 5px 10px;
    width: 200px;
}

.classArea {
    width: 200px;
}

#itemSave {
    width: 180px;
}

#dm-table-tracker h3, #dm-table-tracker h4, #dm-table-tracker input, #dm-table-tracker select, .resultDisplay{
    display: inline-block;
    vertical-align: middle;
}

#dm-table-tracker h3 {
    color: rgb(10, 10, 150);
    margin: 0;
    margin-right: 10px;
}

.classArea > h3 {
    float: right;
}

#dm-table-tracker h4 {
    font-size: 12px;
    margin: 8px 0;
}

#dm-table-tracker input{
    background-color: #BBB;
    color: #333;
    font-size: 16px;
    height: 20px;
    width:37px ;

}

.toSave select {
    width: 75px;
}


.toTurn select {
    width: 75px;
}

.resultDisplay {
    font-size: 12px;
}

.resultDisplay > span {
    font-size: 16px;
    font-weight: bold;

}


#itemSave h3 {
    display:block;
    text-align: center;
}

#itemSave select {
    width: 150px;
}

table {
    border-collapse: collapse;
    border: 1px solid #333;
    margin: 5px auto;
    text-align:center;
    width: 149px;
}

td {
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
}


td:nth-child(odd) {
    background-color: #333;
    border-bottom: 1px solid #DDD;
    color: #DDD;
}

td:nth-child(even) {
    background-color: #CCC;
    border-bottom: 1px solid #333;
    color: #333;
    width: 25px;
}

/*notes-tracker specific*/
#notes-tracker {
    float:right;
    position: relative;
    bottom: 90px;
    height: 83px;
    padding: 5px 0;
    text-align: center;
    width: 15.3%;

}

#noteInput h3 {
    color: rgb(10, 10, 150);
    margin: 0;
}

#notes{
    height: 40px;
    font-size: 12px;
    margin:0 auto;
    width: 80%;
}



