<!DOCTYPE html>
<html ng-app="encounters">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeKeeper - Event View</title>
    <link rel="stylesheet" href="timeKeeper.css">
    <link rel="stylesheet" href="eventView.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="EncounterViewController as encounterViewCtrl">
    <header>

        <h1>Time Keeper</h1>
        <div id="globalClock" class="clock">
            <div id="totalTime">
                <span id="totalDays">0d</span>
                <span id="totalHours"> 0h</span>
                <span id="totalMinutes"> 0m</span>
                <span id="totalSeconds"> 0s</span>
            </div>
            <div id="timeOfDay">
                <span id="hours24">11</span>
                :
                <span id="minutes24">00</span>
                :
                <span id="seconds24">00</span>
            </div>
        </div>
        <h2>Event View</h2>

    </header>

    <nav>

        <ul>
            <li><a href="campaignView.html">Campaign View</a></li>
            <li><a href="sessionView.html">Session View</a></li>
        </ul>

    </nav>

    <section id="event-selection">
            <h3>
                <select id="encounterSelect"
                    ng-model="encounterViewCtrl.selectedEncounter"
                    ng-options="encounter.name for encounter in encounterViewCtrl.encounters"
                    ng-change="encounterViewCtrl.viewEncounter()">
                </select>
            </h3>
            <div class="button" id="saveButton">save</div>
    </section>

        <section id ="time-tracker" class="trackingArea">

                <section class="timeInput">
                    <div class="button timeButton" id="segmentButton">+</div>
                    <input type="number" class="inputBox" id="segmentInput" ng-model="encounterViewCtrl.elapsedTime.segments"/>
                    <div class="displayBox" id="segmentDisplay">0</div>
                    <section class="inputHeader">
                        <h4>Segments</h4>
                        <h5>6 seconds</h5>
                    </section>
                </section>

                <section class="timeInput">
                    <div class="button timeButton" id="roundButton">+</div>
                    <input type="number" class="inputBox" id="roundInput" ng-model="encounterViewCtrl.elapsedTime.rounds"/>
                    <div class="displayBox" id="roundDisplay">0</div>
                    <section class="inputHeader">
                        <h4>Rounds</h4>
                        <h5>1 minute</h5>
                    </section>
                </section>

                <section class="timeInput">
                    <div class="button timeButton" id="turnButton">+</div>
                    <input type="number" class="inputBox" id="turnInput" ng-model="encounterViewCtrl.elapsedTime.turns"/>
                    <div class="displayBox" id="turnDisplay">0</div>
                    <section class="inputHeader">
                        <h4>Turns</h4>
                        <h5>10 minutes</h5>
                    </section>
                </section>

                <section class="timeInput">
                    <div class="button timeButton" id="hourButton">+</div>
                    <input type="number" class="inputBox" id="hourInput" ng-model="encounterViewCtrl.elapsedTime.hours"/>
                    <div class="displayBox" id="hourDisplay">0</div>
                    <section class="inputHeader">
                        <h4>Hours</h4>
                    </section>
                </section>

                <section class="timeInput">
                    <div class="button timeButton" id="dayButton">+</div>
                    <input type="number" class="inputBox" id="dayInput" ng-model="encounterViewCtrl.elapsedTime.days"/>
                    <div class="displayBox" id="dayDisplay">0</div>
                    <section class="inputHeader">
                        <h4>Days</h4>
                    </section>
                </section>
        </section>

        <section id="monster-tracker">
            <form class="monster-type-container trackingArea"
                  ng-repeat="encounterMonsterType in encounterViewCtrl.encounterDetail.encounterMonsterTypes"
                  ng-submit="encounterViewCtrl.saveEncounter()">

<!--
                TODO submit this form on global save
                <input type="submit" value="Save"/>
-->
                <h3>{{encounterMonsterType.monsterType.name}}</h3>

                <section class="stats-group">
                    <h4>HD: </h4> <strong  class="monsterHD">{{encounterMonsterType.monsterType.hitDice}}</strong>+
                    <strong class="monsterHDMod">{{encounterMonsterType.monsterType.hitDieModifier}}</strong>
                </section>
                <section class="stats-group">
                    <h4>AC: </h4> <strong>{{encounterMonsterType.monsterType.armorClass}}</strong>
                </section>
                <section class="stats-group">
                    <h4>Attacks: </h4> <strong>{{encounterMonsterType.monsterType.attackCount}}</strong> attack(s)
                    @ <strong>{{encounterMonsterType.monsterType.damagePerAttack}}</strong> damage
                </section>
                <section class="stats-group">
                    <h4>Size: </h4> <strong>{{encounterMonsterType.monsterType.size}}</strong>
                </section>
                <section class="stats-group">
                    <h4>Movement: </h4> <strong>{{encounterMonsterType.monsterType.movement}}</strong>
                </section>

                <table id="monsterToHitTb">

                    <tr>
                        <td>Enemy AC</td>
                        <td>-10</td>
                        <td>-9</td>
                        <td>-8</td>
                        <td>-7</td>
                        <td>-6</td>
                        <td>-5</td>
                        <td>-4</td>
                        <td>-3</td>
                        <td>-2</td>
                        <td>-1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>to hit</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>

                <section>
                    <div class="monster-hp-container"
                         ng-repeat="monster in encounterMonsterType.encounterMonsters">
                        <input class="monster-hp" type="number" ng-model="monster.currentHitPoints"/> of
                        <strong>{{monster.maxHitPoints}}</strong> hp
                    </div>
                </section>

                <section class="stats-group">
                    <h4 class="popUpLink">Strategy </h4>
                    <section class="hidden">{{encounterMonsterType.strategy}}</section>
                </section>
                <section class="stats-group">
                    <h4 class="popUpLink">Treasure </h4>
                    <section class="hidden">{{encounterMonsterType.treasure}}</section>
                </section>

                <section class="stats-group">
                    <h4 class="popUpLink">Monster Notes</h4>
                    <section class="hidden">{{encounterMonsterType.notes}}</section>
                </section>
                <section class="stats-group">
                    <h4 class="popUpLink">Special Abilities</h4>
                    <section class="hidden">{{encounterMonsterType.monsterType.specialAbilities}}</section>
                </section>
                <section class="stats-group">
                    <h4 class="popUpLink">Exceptional Abilities</h4>
                    <section class="hidden">{{encounterMonsterType.monsterType.exceptionalAbilities}}</section>
                </section>
            </form>

        </section>

        <section id="dm-table-tracker">
            <section id="classAreas">

                <section id="cleric" class="classArea trackingArea">
                    <h3>cleric</h3>

                    <section class="level">
                        <h4>Level:</h4>
                        <input type="number" class="levelInput">
                    </section>

                    <section class="toHit">
                        <h4>Enemy AC:</h4>
                        <input type="number" class="acInput">
                        <div class="resultDisplay acDisplay">
                            <strong class="resultNeeded"></strong> to hit
                        </div>
                    </section>

                    <section class="toSave">
                        <h4>Save vs:</h4>

                        <select class="saveSelect">
                            <option>paralyzation, posion, death magic</option>
                            <option>petrification, polymorph</option>
                            <option>rod, staff, wand</option>
                            <option>breath weapon</option>
                            <option>spell</option>
                        </select>

                        <div class="resultDisplay saveDisplay">
                            <strong class="resultNeeded"></strong> to save
                        </div>

                    </section>

                    <section id= "toTurn">
                        <h4>Turn:</h4>
                        <select id="turnSelect" class="turnSelect">
                            <option>skeleton</option>
                            <option>zombie</option>
                            <option>ghoul</option>
                            <option>shadow</option>
                            <option>wight</option>
                            <option>ghast</option>
                            <option>wraith</option>
                            <option>mummy</option>
                            <option>spectre</option>
                            <option>vampire</option>
                            <option>ghost</option>
                            <option>lich</option>
                            <option>special</option>

                        </select>

                        <div class="resultDisplay" id="turnDeadDisplay">
                            <strong class="resultNeeded"></strong>
                            to turn
                        </div>

                    </section>


                </section>

                <section id="mage" class="classArea trackingArea">

                    <h3>mage</h3>

                    <section class="level">
                        <h4>Level:</h4>
                        <input type="number" class="levelInput">
                    </section>


                    <section class="toHit">
                        <h4>Enemy AC:</h4>
                        <input type="number" class="acInput">
                        <div class="resultDisplay acDisplay">
                            <strong class="resultNeeded"></strong> to hit
                        </div>
                    </section>

                    <section class="toSave">
                        <h4>Save vs:</h4>

                        <select class="saveSelect">
                            <option>paralyzation, posion, death magic</option>
                            <option>petrification, polymorph</option>
                            <option>rod, staff, wand</option>
                            <option>breath weapon</option>
                            <option>spell</option>
                        </select>

                        <div class="resultDisplay saveDisplay">
                            <strong class="resultNeeded"></strong> to save
                        </div>

                    </section>
                </section>

                <section id="fighter" class="classArea trackingArea">
                    <h3>fighter</h3>

                    <section class="level">
                        <h4>Level:</h4>
                        <input type="number" class="levelInput">
                    </section>

                    <section class="toHit">
                        <h4>Enemy AC:</h4>
                        <input type="number" class="acInput">
                        <div class="resultDisplay acDisplay">
                            <strong class="resultNeeded"></strong> to hit
                        </div>
                    </section>

                    <section class="toSave">
                        <h4>Save vs:</h4>

                        <select class="saveSelect">
                            <option>paralyzation, posion, death magic</option>
                            <option>petrification, polymorph</option>
                            <option>rod, staff, wand</option>
                            <option>breath weapon</option>
                            <option>spell</option>
                        </select>

                        <div class="resultDisplay saveDisplay">
                            <strong class="resultNeeded"></strong> to save
                        </div>

                    </section>
                </section>

                <section id="thief" class="classArea trackingArea">
                    <h3>thief</h3>

                    <section class="level">
                        <h4>Level:</h4>
                        <input type="number" class="levelInput">
                    </section>

                    <section class="toHit">
                        <h4>Enemy AC:</h4>
                        <input type="number" class="acInput">
                        <div class="resultDisplay acDisplay">
                            <strong class="resultNeeded"></strong> to hit
                        </div>
                    </section>

                    <section class="toSave">
                        <h4>Save vs:</h4>

                        <select class="saveSelect">
                            <option>paralyzation, posion, death magic</option>
                            <option>petrification, polymorph</option>
                            <option>rod, staff, wand</option>
                            <option>breath weapon</option>
                            <option>spell</option>
                        </select>

                        <div class="resultDisplay saveDisplay">
                            <strong class="resultNeeded"></strong> to save
                        </div>

                    </section>
                </section>
            </section>

            <section id="itemSave" class="trackingArea">
                <h3>item saving throw</h3>

                <h4>Save vs:</h4>
                <select>
                    <option>acid</option>
                    <option>crushing blow</option>
                    <option>normal blow</option>
                    <option>disintegration</option>
                    <option>fall</option>
                    <option>fireball</option>
                    <option>magical fire</option>
                    <option>normal fire</option>
                    <option>magical frost</option>
                    <option>lightning bolt</option>
                    <option>electrical discharge/current</option>
                </select>

                <table id="itemSaveTb">

                    <tr>
                        <td>Bone Ivory</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Ceramic</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Cloth</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Crystal Vial</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Glass</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Leather Book</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Liquid</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Hard Metal</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Soft Metal Jewelry</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Mirror</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Parchment Paper</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Stone Gem</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Thin Wood Rope</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Thick Wood Rope</td>
                        <td></td>
                    </tr>
                </table>

            </section>



        </section>

        <section id="notes-tracker" class="trackingArea">
            <section id="noteInput">
                <h3 class="inputHeader">event notes</h3>
                <textarea class="inputBox" id="notes"></textarea>
            </section>

        </section>



    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="initialPopulation.js"></script>
    <script src="encounters-view-app.js"></script>
    <script src="eventView.js"></script>
    <script src="graphics.js"></script>
    <script src="DM_tables.js"></script>
    <script src="dm-table-tracker.js"></script>

</body>
</html>