body {
    background-color: #333;
    color: #FFF;
    padding: 0 5%;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

header {
    text-align: center;
}

h1, h2 {
    font-family: "Playball",cursive;

}

h1, h2, #globalClock {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 4em;
    padding-bottom: 30px;
    margin-right: 20px;
}

h2 {
    font-size: 2.5em;
    padding-top: 50px;
    margin-left: 20px;
}
/*For Large Screens: center header based on clock in relation to main*/
@media only screen and (min-width: 908px) {
    h2{
        text-align: left;
        width: 278.813px;
    }
}

/*For Small Screens: stacked header, no overlap between h3 and nav*/
@media only screen and (max-width: 907px) {
    h1, h2, #clock {
        display: block;
    }

    h1, h2, #clock {
        padding: 0;
        margin: 10px auto;
    }

    h3 input {
         margin-top: 10px;
    }
}

.clock {
    background-color: rgba(0, 0, 255, .1);
    background-image: linear-gradient(to bottom left, rgba(0, 0, 255, .1), rgba(192, 192, 192, .1));
    border: 2px solid rgba(192, 192, 192, .5);
    border-radius: 50%;
    box-shadow: 2px 2px 10px #000;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

#globalClock {
    height: 175px;
    width: 175px;
}

#totalTime {
    padding-top:70px;
}

#timeOfDay {
    color: #DDD;
    font-size: 14px;
    padding-top: 5px;
}


nav ul {
    padding: 0;
}

a {
    color: rgb(10, 10, 150);
    font-weight: bold;
    text-decoration: none;
}

nav li {
    display: inline;
    margin-top: 5px;
    padding-top: 5px;
}

a:hover {
    text-decoration: underline;
}

nav li:first-child {
    float: left;
    margin-left: 10px;
}

nav li:last-child {
    float: right;
    margin-right: 10px;
}

input, textarea {
    background-color: #BBB;
    color: #333;
}

h4 {
    margin: 0;
}

h5 {
    border-top: 1px solid rgb(10, 10, 150);
    margin: 0;
}

.button {
    background-color: rgba(10, 10, 100, .75);
    border-radius: 5px;
    border: 1px outset #BBB;
    box-shadow: 2px 2px 2px #333;
    color: #FFF;
    display: inline-block;
    font-size: 30px;
    text-align:center;
    vertical-align: middle;
    width: 37px;
}




#saveButton {
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 50px;

}